# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/

# VS Code
.vscode/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Keep folder structure but ignore dataset contents
data/raw/**
!data/raw/.gitkeep

data/processed/**
!data/processed/.gitkeep

# Ignore generated reports (optional for now)
reports/*.xlsx
reports/*.csv